<div class="container-fluid">
    <div class="card mb-3">

        <div class="card-header">
            <button type="button" class="btn btn-link" ui-sref="cms">Voltar</button>
        </div>

        <div class="card-body">

            <form ng-submit="save()">

                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" ng-model="data.nome" >
                </div>

                <div class="form-group">
                    <label>Descrição</label>
                    <textarea class="form-control" rows="3" ng-model="data.descricao"></textarea>
                </div>

                <div class="form-group">
                    <label >Categorias</label>
                    <select multiple class="form-control" ng-model="data.categorias" >
                        <option ng-repeat="categoria in categorias" value="{{categoria._id}}">{{categoria.nome}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Preço</label>
                    <input type="text" class="form-control" ng-model="data.preco"  ui-money-mask >
                </div>

                <div class="form-group">
                    <label>Foto</label>
                    <input type="text" class="form-control" ng-model="data.photo" >
                </div>

                <button type="submit" class="btn btn-primary">Cadastrar</button>

            </form>
        </div>
    </div>
</div>
