<div class="container-fluid">

    <div class="card mb-3">

        <div class="card-header">
            <button type="button" class="btn btn-info" ui-sref="cms-new">Cadastrar Produto</button>
        </div>

        <div class="card-body">
            <div class="table-responsive" ng-show="produtos" >
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Foto</th>
                            <th>Preço</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="data in produtos">
                            <td>{{data.nome}}</td>
                            <td><img ng-src="{{data.foto}}" alt="" style="height: 50px; width: auto;" ></td>
                            <td>R$ {{data.preco | number:2}}</td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="delete(data)">Apagar</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="alert alert-warning" ng-hide="produtos" >
                Nenhum registro encontrado.
            </div>

        </div>
    </div>
</div>
