<div class="container-fluid">
    <div class="card mb-3">

        <div class="card-header">
            <button type="button" class="btn btn-link" ui-sref="cms-categoria">Voltar</button>
        </div>

        <div class="card-body">

            <form ng-submit="save()">

                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" ng-model="data.nome" >
                </div>

                <div class="form-group">
                    <label>Foto</label>
                    <input type="text" class="form-control" ng-model="data.foto" >
                </div>

                <button type="submit" class="btn btn-primary">Cadastrar</button>

            </form>
        </div>
    </div>
</div>
