<!DOCTYPE html>
<html ng-app="ProdutosInuteis">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Light Lawliet - Produtos Inúteis</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="/web/styles/app/theme.css">
    <link rel="stylesheet" href="/web/styles/app/pages/produtos.css">

</head>
<body ng-class="cms ? 'cms fixed-nav sticky-footer bg-dark' : ''">

    <div ng-include src="'web/cms-menu.html'" ng-show="cms" ></div>

    <div class="content-wrapper ui-view"></div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/node_modules/angular-input-masks/releases/angular-input-masks-standalone.min.js"></script>
    <script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>

    <!-- injector:js -->
    <script src="/web/app/pages/cms/cms.module.js"></script>
    <script src="/web/app/pages/pages.module.js"></script>
    <script src="/web/app/pages/produtos/produtos.module.js"></script>
    <script src="/web/app/theme/theme.module.js"></script>
    <script src="/web/app/app.js"></script>
    <script src="/web/app/theme/services/api.js"></script>
    <script src="/web/app/pages/cms/CmsCategoriasCadastroPageCtrl.js"></script>
    <script src="/web/app/pages/cms/CmsCategoriasListaPageCtrl.js"></script>
    <script src="/web/app/pages/cms/CmsProdutosCadastroPageCtrl.js"></script>
    <script src="/web/app/pages/cms/CmsProdutosListaPageCtrl.js"></script>
    <script src="/web/app/pages/produtos/ProdutosPageCtrl.js"></script>
    <!-- endinjector -->

</body>
</html>
