<!DOCTYPE html>
<html ng-app="ProdutosInuteis">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Light Lawliet - Produtos Inúteis</title>

    <link rel="stylesheet" href="/node_modules/sweetalert/dist/sweetalert.css">

</head>
<body>

     <div class="ui-view"></div>

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <!-- injector:js -->
    <script src="/web/app/pages/cms/cms.module.js"></script>
    <script src="/web/app/pages/pages.module.js"></script>
    <script src="/web/app/pages/produtos/produtos.module.js"></script>
    <script src="/web/app/theme/theme.module.js"></script>
    <script src="/web/app/app.js"></script>
    <script src="/web/app/theme/services/api.js"></script>
    <!-- endinjector -->
</body>
</html>
